# Python cache (auto-regenerated, never needed)
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter checkpoints (auto-regenerated)
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Secrets (if you ever add any, e.g. API keys, credentials)
.env

# Too Large
lmd-full_and_reddit_MIDI_dataset/
lmd-full_MIDI_dataset/
Dockerfile
docker-compose.yml
melodies_experiments.zip
GUI-Interface/soundfont.sf2